/*FONTS*/

/*COLORS*/
$default: #252525;
$red: #cf0038;
$green: #62bb01;
$grey: #707070;
$light-grey: #acacac;


/*BACKGROUND*/
$light-grey-bg: #ebebeb;
$grey-bg: #292929;
$dark-grey-bg: #222;


/*FONT SIZE*/
$small-btn-size: 15px;
$btn-size: 20px;


/*FONT WEIGHT*/
$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-black: 900;
